# Bytecode, Cache
__pycache__/
*.pyc
*.pyo

# Entwicklungsverzeichnisse
.idea/
.vscode/
.DS_Store

# Temporäre/voluminöse Daten
cache/
cache/*
cache/**/*
secrets/
secrets/*
secrets/**/*
temp/
imagefiles/
thumbnails/
facefiles/
*.db

# Versionskontrolle
.git/
.gitignore
