services:
  gallery:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gallery
    user: "1000:1000"
    networks:
      - n8n-netz
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./secrets:/app/secrets
      - ./cache:/data
      - ./cache/recoll_config:/data/recoll_config:rw
      - ./cache/textfiles:/data/textfiles:rw
      - ./cache/costs:/data/costs
      - ./cache/thumbnailfiles300:/app/thumbnails
      - ./cache/imagefiles:/app/imagefiles
      - ./cache/facefiles:/app/facefiles
      - ./cache/comfyui_gif:/app/comfyui_gif
    environment:
      - HOME=/data
      - XDG_CONFIG_HOME=/data
      - RECOLL_CONFDIR=/data/recoll_config
    restart: unless-stopped

networks:
  n8n-netz:
    external: true