<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Diff GDrive/Local</title>

    {% include "diff_gdrive_local_css.j2" %}
</head>

<body>

<h1 style="display:flex; justify-content:space-between; align-items:center;">
    <span>Diff GDrive/Local</span>
    <span style="font-size:14px; color:#777;">v{{ version }}</span>
</h1>

{% include "diff_gdrive_local_form.j2" %}

{% include "diff_gdrive_local_scripts.j2" %}

</body>
</html>
