<div class='eintrag'>
  <img alt='{{ file_name }}' class='bild' onclick="openModal('{{ image_id }}')" src='{{ thumbnail_src }}'
       style="cursor:pointer;">

  <div class='bildname'>{{ file_name }}</div>

  <!-- Formular für die Checkboxen -->
  <form class='checkbox-container'>
    <input type="hidden" name="image_id" value="{{ image_id }}">
          {% for k in kategorien %}
      <label>
          <input name="{{ file_name }}_{{ k.key }}" type="checkbox"
                 {{ 'checked' if status.get(k.key) else '' }}>
          {{ k.icon }} {{ k.label }}
      </label>
      {% endfor %}
  </form>

  <div class='text'>{{ text_content | safe }}</div>
</div>
